button.piece {
    width: 6vh;
    height: 6vh;
    padding: 1vh;
    border-radius:100%;
    border: 0;
    margin: 2vh 1.5vw;
    justify-self:center;
    font-size: 1vh;
}
.board {
    border-radius:3%;
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    background-color: #FFA400;
    border: solid 0.5vw #E08A1E;
    aspect-ratio: 1.92;
    max-width: 100%;
}

.gameInfo {
    font-size: 2.5vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 4vh;
    margin-bottom: 2vw;
}

div.reset {
    padding: 1.5vw;
    float:right;
}

button.reset {
    padding: 0.5vw;
    font-size: 2.5vh;
    background-color: #9D2933;
    color:#ECF0F1;
    border: none;
    border-radius: 5%;
}